/.vscode
/a.out
/bit
/Bitwise.c
/conc
/files
/Files.c
/Game.exe
/kFiles
/kFiles.c
/kFiles2
/kFiles2.c
/node
/Node.c
/numbers.4593
/numbers.4606
/numbers.4662
/numbers.4697
/numbers.4831
/numbers.5231
/numbers.5254
/numbers.5387
/pipes.c
/pointers
/Pointers.c
/quotient
/Quotient.c
/stringchars
/Stringchars.c
/test
/Test.c
/test.txt